<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
    <title>IT-Server</title>
    <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reportjob.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script src="{{ url_for('static', filename='js/dropdown.js') }}"></script>
</head>
<body>
    <div class="top-bar">
        <div class="top-bar-content">
            <img src="{{ url_for('static', filename='img/favicon.png') }}" alt="Logo" class="logo">
            <div class="top-bar-links">
                <a href='/'>Home</a>
                <a href='/job'>Add Job</a>
                <a href='/note'>History</a>
                <a href='/login'>Login</a>
            </div>
        </div>
    </div>
        <div class="content">
            <div id="form-section"> 
                <h2 class="center">แจ้งเรื่อง</h2>
                <form id="labelForm" method="POST">
                    <label for="Informer">ชื่อผู้แจ้งเรื่อง:</label>
                    <input type="text" id="Informer" name="Informer" required placeholder="ระบุชื่อผู้แจ้ง:">
                    <br>
                    <label for="Section">แผนก/หน่วยงาน:</label>
                    <select id="Section" name="Section" class="select2">
                        <option value="">-- เลือก... --</option>
                        {% for section in section %}
                            <option value="{{ section }}">{{ section }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <label for="Topic">ประเภท/หัวข้อเรื่อง:</label>
                    <select id="Topic" name="Topic" class="select2">
                        <option value="">-- เลือก... --</option>
                        {% for topic in topic %}
                            <option value="{{ topic }}">{{ topic }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <label for="Detail">รายละเอียด:</label>
                    <textarea id="Detail" name="Detail" rows="10" cols="30" placeholder="ระบุรายละเอียดของงาน"></textarea>
                    <br>
                    <label for="Name">ชื่อผู้รับหมอบหมาย:</label>
                        <select id="Name" name="Name" class="select2">
                            <option value="">-- เลือก... --</option>
                            {% for name in name %}
                                <option value="{{ name }}">{{ name }}</option>
                            {% endfor %}
                        </select>
                    <br>
                    <br>
                    <button type="submit" class="font save">บันทึก <i class="fa-regular fa-paper-plane" style="color: #ffffff;"></i></button>
                </form>
            </div>
            <footer>
                <p>Sopon-Product Co.,Ltd.</p>
                <p>Develop by Thanapurt Sopon | Last Update 2025</p>
            </footer>
        </div>
    </div>
</body>
</html>
